.email-app{
    font-size:.875rem;
    display: flex;
    flex-direction: column;
    width:95%;
    margin: 20px auto;
}
.email-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.compose{
    font-size:.875rem;
} 
.btn-compose{
    background-color: #ffffff;
}
.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    
}

.select-style select {
    padding: 5px 8px;
    /* width: 130%; */
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
}

.select-style select:focus {
    outline: none;
}
.search-container input[type=text] {
    /* padding: 6px; */
    border: none;
    background-color:#d1cbcb80;
    font-size: 17px;
    /* width:30%;  */
    width: 70vw;
    padding: 10px;
    border-radius: 10px;
}
.search-container input[type=text]:focus{
    background-color:#e4dada59;;
}

.subject{
height:40px;
line-height: 40px;
font-size: .875rem;
font-family: arial, helvetica, sans-serif;
background-color: #f8f9f7;
border: none;
border-bottom:2px solid #ced5cccb;
padding-left: 10px;
}
.subject:hover{
cursor: pointer;
box-shadow:
            1px 1px #cbced0,
            2px 2px #cbced0,
            3px 3px #cbced0;
    transform: translateX(-3px);
}

/*
.search-container {
width: 200px;
display: block;
margin: 0 auto;
}

input#search-bar {
position: relative;
margin: 0 auto;
width: 100%;
height: 45px;
padding: 0 10px;
font-size: .875rem;
border: 1px solid #d0cfce;
outline: none;
}
input#search-bar:focus {
border: 1px solid #008abf;
transition: 0.35s ease;
color: #008abf;
}

.search-icon {
position: relative;
float: right;
width: 75px;
height: 75px;
top: -62px;
right: -45px;
} */

.unread{
    background-color: #e7e9e6;
    font-weight: bolder;
    color: black;
}

/* 
.misterEmail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} */

.misterEmail-container{
    margin:0 auto;
    overflow: auto;
    position: static;
    height: 100vh;
    width: 100%;
}

.misterEmail-container>*{
/* flex-grow: 1 1; */
}
.emails-side-bar{
    width:100px;
    height:40px;
    /* margin-right:5px; */
    margin-right: 15px;
    margin-top: 25px;
    line-height: 40px;
    font-size: .875rem;
    font-family: arial, helvetica, sans-serif;
    
    padding-left: 10px;
    
}
.emails-side-bar li:hover{
    background-color: #e1ecd5cf;
    /* border:1px solid #d1dccb; */
    /* font-weight: bold; */
    cursor: pointer;
}

.emails-container{
    width:100%;
}

.filter-container{
    width:100%;

}
.emails-side-bar-info{
    display:flex;
    justify-content:space-between;
}

.info{
    display:inline-block;
}

.status-bar {
    height: 15px;
    width: 100%;
    margin-top: 10px;
    background-color: #9999b357;
    border-radius: 10px;
}


.status-inner {
    width: 1%;
    background-color:#2a45c9f2;
    color: whitesmoke;
    padding-left: 5px;
    line-height: 15px;
    border-radius: 10px;
}

.btn-compose{
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.fa-inbox,.fa-envelope-open,.fa-envelope,.fa-paper-plane,.fa-trash{
    padding: 3px;
}

button:focus {outline:0;}



.emails-side-bar{
    /* background: blue; */

}
.sub{
    margin-left: 7px;
}
.openToggle{
    cursor: pointer;
    background: none;
    border: none;
}

.sub-preview-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}


.testoo{
    /* margin-top: 30px; */
    border: 2px solid;
    background: blue;
    display: flex;
    flex-direction: column;

}

.emails-side-bar{
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    margin-bottom: 20px;
}

.emails-side-bar>*{
    padding: 7px;
    
    font-size: 1em;
}

.emails-side-bar>*:not(:last-child) {
    border-right: 2px solid rgba(155, 152, 152, 0.358);

}

.info-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-select{
    border: 1px solid #8080807d;
}
/* 
.inputSearch{
    width: 70vw;
    padding: 30px;
} */

@media (max-width: 470px) {
    .info-btns,.email-header{
        display: flex;
        flex-direction: column;
    }
    .inputSearch{
        width: 100vw;
        
    }
    .search-select{
        margin-top: 10px;
        height:auto;

    }
    .fa-edit{
        float: right;
    }
}